<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>Feedback<a href="https://docs.google.com/forms/d/e/1FAIpQLSdRxBe8XcXRCo2Bli_LJovnxYWVLBbQ8piaRWb9MTh8cMdFXw/viewform?usp=pp_url"></p>
    </section>
</section>
