<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <section class="footer-flex-container">
        <div>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdRxBe8XcXRCo2Bli_LJovnxYWVLBbQ8piaRWb9MTh8cMdFXw/viewform?usp=pp_url">Contact Us
        </div>
        <div>
            Copyright 2024
        </div>

        </section>
        
        
       
    </section>
</section>
