h1,
h2,
h3,
h4,
h5,
h6 {
    color: #445157;
}


#footer, #header {
    background-color: #445157;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.0rem;
}



.navbar {
    display: flex;
    justify-content: center;
}

.desktop-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-menu ul li {
    margin: 0 10px;
}

.desktop-menu ul li a {
    text-decoration: none;
}

.desktop-menu{
    margin-right: 35px;
}