h1,
h2,
h3,
h4,
h5,
h6 {
    color: #445157;
}

#header{
    border-bottom: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.0rem;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   }

   .navbar-section{
    width: auto;
   }

.desktop-menu{
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
   padding-top: 5px;
   padding-bottom: 2px;
}

.desktop-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    }

.desktop-menu ul li {
    margin: 0 5px;
}

.desktop-menu ul li a {
    text-decoration: none;
}

details{
    background-color: lightgray;
    padding-left: 10px;
}

.mobile-log0{
    display: none;
}


img + em{
    font-size: 0.75rem;
}

.footer-flex-container {
    border-top: solid #445157 1px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: black;
}
